.rouge {
    background-color: #f8d7da;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
}
.vert {
    background-color: #d4edda;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
}
.orange {
    background-color: #fff3cd;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
}
.moyenne {
    background-color: #cce5ff;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}
.colonne {
    float: left;
    width: 200px;
    margin-right: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}
